.color *{
	background-color: transparent !important;
}
body{
	
	margin: 0px !important;
	padding: 0px !important;
	overflow-x: hidden;
} 

.background_image{
	
	
	
}

.blur{
	background: -webkit-linear-gradient(black, transparent); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(black, transparent); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(black, transparent); /* For Firefox 3.6 to 15 */
  background: linear-gradient(black, transparent); /* Standard syntax */

}

.logo_section {
	img{
	display: block;
	margin: 0px auto;
	max-width: 248px;
	max-height: 248px;
	}
}

.intro{
	margin-top: 50px;
	margin-bottom: 46px;
}

.menu{

	display: block;
	position: relative;
	top: -20px;
	height: 100%;
	color: white;
	

	.menu-font-mobile{
		display: block;
		margin-bottom: 0px auto;
		font-family: 'Great Vibes', cursive;
	font-size: 2em;
		
			li{
				display: inline-block;
				list-style-type: none;
				text-decoration: none;
				margin-right: 10px;
			}
	} 
	ul{
		display: block;
		li{
			list-style-type: none;
			text-decoration: none;
			text-align: center;

			.menu_frame{
				max-width: 156px;
				max-height: 100px;
				display: block;
				margin: 0px auto;
				}

				.menu_frame_transform{
					   -ms-transform: rotate(180deg); /* IE 9 */
				    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
				    transform: rotate(180deg);
				}

		}
	}
}

.section_img{
	max-width: 170px;
	max-height: 170px;
	display: block;
	margin: 0px auto;
	position: relative;
	top: -50px;
}

.section_title{
	display: block;
	margin: -10px auto 26px auto;

}

.flexbox{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.gallery_container{
	background-color: #FEE6A8;
	padding-bottom: 40px;
}

.about{
	color: white;
}

.contacts{
	background-color: #FEE6A8;
}

.links{

	ul{
		
		li{
			display: inline-block;
			list-style-type: none;
			text-decoration: none;
			margin-right: 10px;
			

		}
	}
}

.contact-info{
	p{
		margin-right: 40px;
	}
}

