
.post_image{
	img{
		display: block;
		margin: 0px auto;
		width: 580px;
		max-width: 600px;
		max-height: 280px;
	}
}


.ingredients{
	width: 60%;

}


    /*==========  Mobile First Method  ==========*/

    /* Very small decices*/
    @media only screen and (max-width: 319px) {
        .post_image{
			img{
				display: block;
				margin: 0px auto;
				width: 80vw;
				max-width: 300px;
				max-height: 98px;
			}
		}


		.ingredients{
			width: 90%;

		}
        
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) and (max-width: 479px) {
        .post_image{
			img{
				display: block;
				margin: 0px auto;
				width: 80vw;
				max-width: 467px;
				max-height: 112px;
			}
		}


		.ingredients{
			width: 90%;

		}
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) and (max-width: 767px) {
       .post_image{
			img{
				display: block;
				margin: 0px auto;
				width: 80vw;
				max-width: 750px;
				max-height: 280px;
			}
		}


		.ingredients{
			width: 90%;

		}
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) and (max-width: 991px) {
        
		.post_image{
			img{
				display: block;
				margin: 0px auto;
				width: 580px;
				max-width: 580px;
				max-height: 260px;
			}
		}


		.ingredients{
			width: 60%;

		}
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) and (max-width: 1199px) {
       
		.post_image{
			img{
				display: block;
				margin: 0px auto;
				width: 580px;
				max-width: 580px;
				max-height: 260px;
			}
		}


		.ingredients{
			width: 60%;

		}

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
        
		.post_image{
			img{
				display: block;
				margin: 0px auto;
				width: 580px;
				max-width: 600px;
				max-height: 280px;
			}
		}


		.ingredients{
			width: 60%;

		}

    }